body {
  min-height: 100vh;
  background-image: url(../images/homebg.webp);
  background-size: cover;
  background-position: center;
}

.title-wrap {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(0%, -50%);
  color: #fff;
}

.title {
  font-size: 100px;
}

.tips {
  font-size: 22px;
}

.zwf {
  height: 100vh;
}

@media screen and (max-width: 768px)  {
  .title-wrap {
    position: absolute;
    top: 50%;
    left: 16px;
    right: 16px;
    transform: translate(0%, -50%);
    color: #fff;
  }

  .title {
    font-size: 80px;
  }
  
  .tips {
    font-size: 16px;
  }
}